# 1. Bloquear TODO por defecto
*

# 2. Permitir que Git navegue por las carpetas
!*/

# 3. Archivos maestros
!.gitignore
!README.md

# 4. SOLO archivos .java dentro de carpetas [Ee]jercicio*
!**/[Ee]jercicio*/**/*.java

# 5. BLOQUEO TOTAL de carpetas de cursos/ejemplos externos
/0JavaSEProgramming/
**/build/
**/nbproject/
**/dist/
*.xml
*.properties
*.pdf
*.mf
*.class